<% if signed_in? && current_user.admin==true %>
<h1 class="title_empl">Reporte de ausencia mensual</h1>

<%= search_form_for @q, url: :month do |f|%>
  <div class="form-container">
    <div class="form-group">
      <div class="col-md-8 form-sub">
        <%= f.label 'id de empleado' %>
        <%= f.search_field :employee_id_eq %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 form-sub">
        <%= f.label 'desde' %>
        <%= f.search_field :created_at_gteq%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 form-sub">
        <%= f.label 'hasta' %>
        <%= f.search_field :created_at_lteq%>
      </div>
    </div>       
    <div class="form-group">
      <div class="col-md-12 text-center" >
        <%= f.submit 'filtrar', class:"btn btn-primary btn-lg m-5" %>
      </div>
    </div> 
  </div>
<%end%>


<div class="container_table">
  <table class="table">
    <thead>
      <tr>
        <th scope="row" >Id de empleado</th> 
        <th scope="row" >checkin</th>
        <th scope="row" >checkout</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <%@asistencias = 0%>
        <% @attendances.each do |attendance| %>
        <tr>
          <td class="title"><%= attendance.employee_id %></td>
          <td class="title"><%= attendance.checkin if attendance.checkin.present?  %></td>
          <td class="title"><%=  attendance.checkout if attendance.checkout.present?  %></td>
          <%if attendance.checkout.nil?%>
          <%else%>    
            <%@asistencias += 1%>  
          <%end%>   
        </tr> 
        <%end%>
      </tr>
    </tbody>
  </table>
</div>
<div class="container_table">
  <table class="table">
    <thead>
      <tr>
        <th scope="row" >Asistencia</th>
        <th scope="row" >Faltas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="title"><%=   @asistencias %></td>
        <td class="title"><%=  20 - @asistencias   %></td> 
      </tr>
  </tbody>
</table>
</div>
<%end%>
