<div>
  <div class= "watch_container">
    <h4 class="h4"> <%= Time.now.strftime("%F")%></h4>
    <h5 class="h5">Hora <%= Time.now.strftime("%H:%M:%S")%> </h5>
		<div class="form">
			<%= form_with scope: :attendance, url: attendances_path, local: true do |f| %>
				<%= f.text_field :employee_id,  placeholder: "numero de empleado", class:'text-field'%><br>
				<div class="button-container">
					<%= f.submit "check-in", class: 'button'%>
					<%= f.submit "check-out", class: 'button'%>
				</div>
			<%end%>
		</div>
	</div>
</div>
