<% if signed_in? && current_user.admin==true %>
<h1 class="title_empl">Empleados</h1>
<div class="container_table">
  <table class="table">
    <thead>
      <tr>
        <th scope="row" >Nombre</th>
        <th scope="row" >Email</th>
        <th scope="row" >Id</th> 
        <th scope="row" colspan="2">Opciones</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @employees.each do |employee| %>
        <tr>
          <td class="title"><%= employee.name %></td>
          <td class="title"><%= employee.email %></td>
          <td class="title"><%= employee.id %></td>
          <td><%=button_to 'Editar', edit_employee_path(employee.id), method: :get, class: 'button_e'%></td>
          <td><%=button_to'Borrar', employee_path(employee.id), method: :delete, form: {data: {turbo_confirm: 'Estas seguro de eliminar este empleado?'}}, class: 'button_e'%></td>
        </tr> 
        <%end%>
      </tr>
  </tbody>
</table>
</div>
<%=button_to 'Nuevo empleado', '/employees/new',method: :get, class: 'button_e new_Employees'%>
<% else %>
"No esta autorizado"
<% end %>
