<%=form_with model: @reports do |f| %>
  <div class="form-container">
    <div class="form-group">
      <div class="col-md-8 form-sub">
        <%= f.label 'reporte por dia' %>
        <%= f.text_field  class:"form-title" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 form-sub">
        <%= f.label 'fecha' %>
        <%= f.text_field , class:"form-title" %>
      </div>
    </div>      
    <div class="form-group">
      <div class="col-md-12 text-center" >
        <%= f.submit message, class:"btn btn-primary btn-lg m-5" %>
      </div>
    </div> 
  </div>
<%end%>