<% if signed_in? && current_user.admin==true %>
<h1 class="title_empl">Report</h1>


<%=form_with model: @reports do |f| %>
  <div class="form-container">
    <div class="form-group">
      <div class="col-md-8 form-sub">
        <%= f.label 'id de empleado' %>
        <%= collection_select(:attendance_day, :employee_id, Employee.all , :name, :id, {}, {:multiple => false}) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 form-sub">
        <%= f.label 'fecha' %>
        <%= f.date_field :as_of_date%>
      </div>
    </div>      
    <div class="form-group">
      <div class="col-md-12 text-center" >
        <%= f.submit 'filtrar', class:"btn btn-primary btn-lg m-5" %>
      </div>
    </div> 
  </div>
<%end%>
<div class="container_table">
  <table class="table">
    <thead>
      <tr>
        <th scope="row" >Employee_id</th> 
        <th scope="row" >checkin</th>
        <th scope="row" >checkout</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @attendances.each do |attendance| %>
        <tr>
          <td class="title"><%= attendance.employee_id %></td>
          <td class="title"><%= attendance.checkin.strftime("%F %H:%M:%S") if attendance.checkin.present?  %></td>
          <td class="title"><%=  attendance.checkout.strftime("%F %H:%M:%S") if attendance.checkout.present?  %></td>         
        </tr> 
        <%end%>
      </tr>
  </tbody>
</table>
</div>
<%end%>
