<!DOCTYPE html>
<html>
  <head>
    <title>Reloj checador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body">
    
    <header>
      <nav class="navbar ">
        <%= link_to root_path do%>
          <h1 class="watch-title" >Reloj checador</h1> 
        <%end%>
        <% if signed_in? %>
          <%=button_to 'Cerrar Sesión', destroy_user_session_path, class:'button_header button_off', method: :delete, form: {data: {turbo_confirm: 'Desea cerrar sesión?'}} %>
          <%=button_to 'Admin', '/admin',method: :get, class: 'button_header button_admin'%>
        <%else%>
        <%=button_to 'Registrarse',new_user_registration_path,method: :get, class: 'button_header'%> 
          <%=button_to 'Login',new_user_session_path, method: :get, class: 'button_header button_login'%>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
  </body>
</html>
